@use "../../../../styles.scss" as styles;

:host {
  display: flex;
  justify-content: center;
  min-height: var(--defaultContentHeight);
  width: 100%;
  color: styles.$dark;
}

.pageContent {
  width: 100%;
  font-size: calc(var(--responsiveUnit) * 0.8);
  background: styles.$dark;
}

.pageContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

input {
  border: none;
  background: none;
  text-align: center;
  outline: none;
  color: styles.$light;
  background: styles.$black;
  font-size: calc(var(--responsiveUnit) * 0.8);
  width: calc(var(--responsiveUnit) * 20);
  height: calc(var(--responsiveUnit) * 2);
  border-radius: calc(var(--responsiveUnit) * 0.5);
  font-family: monospace;
}

h1 {
  --animationParams: all 50ms ease-in-out;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(var(--responsiveUnit) * 0.5);
  background: styles.$white;
  color: styles.$black;
  padding-inline: calc(var(--responsiveUnit) *1);
  padding-block: calc(var(--responsiveUnit) * 0.5);
  margin-top: calc(var(--responsiveUnit) * 0.5);
  font-size: calc(var(--responsiveUnit) * 5);
  // height: calc(var(--responsiveUnit) * 5);
  max-width: calc(var(--responsiveUnit) * 62);
  // text-transform: uppercase;
  font-family: 'Space Mono', monospace;
  @include styles.allVendors(transition, var(--animationParams));
  @include styles.allVendors(user-select, none);

  &:hover {
    background: styles.$black;
    color: styles.$white;
  }
}
