<div id="{{title}}-content" class="pageContent">
  <div class="loginForm">
    <div class="loginTitle">
      Login
    </div>

    <div class="loginInput">
      <input placeholder="Username">
      <img alt="username-icon" src="https://raw.githubusercontent.com/dudushy/assets/b7cd571e18156f470629bed31f66973697905b5e/person.svg">
    </div>

    <div class="loginInput">
      <input placeholder="Password" type="password">
      <img alt="password-icon" src="https://raw.githubusercontent.com/dudushy/assets/b7cd571e18156f470629bed31f66973697905b5e/lock-closed.svg">
    </div>

    <div class="loginRememberForgot">
      <div class="loginRememberMe">
        <input type="checkbox" id="rememberMeInput">
        <label for="rememberMeInput">Remember me</label>
      </div>
      <div class="loginForgotPassword">
        <a onclick="alert('Forgot Password?')">Forgot Password?</a>
      </div>
    </div>

    <div class="loginSubmit">
      <input type="submit" value="Login" onclick="alert('Login')">
    </div>

    <div class="loginRegister">
      <span>Don't have an account?</span>

      <a onclick="alert('Register')">Register</a>
    </div>
  </div>
</div>
