@import "/src/styles.scss";

:host {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  // background: $medium;
  color: $dark;
  min-height: var(--defaultContentHeight);
}

.pageContent {
  height: 100%;
  padding-block: 1%;
  padding-inline: 1%;
  width: 100%;
  max-width: 1200px;
  font-size: calc(var(--responsiveUnit) * 0.8);
  background: $light;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://github.com/dudushy/assets/blob/main/wallpaper2.jpg?raw=true");
  background-position: center;
  background-size: cover;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include fixedHeight(calc(var(--responsiveUnit) * 16.5));
  @include fixedWidth(calc(var(--responsiveUnit) * 16));
  backdrop-filter: blur(25px);
  overflow: hidden;
  border-radius: calc(var(--responsiveUnit) * 0.4);
  border: calc(var(--responsiveUnit) * 0.08) solid transparentize($color: $light, $amount: 0.8);
  box-shadow: 0px 0px 15px 3px transparentize($color: $dark, $amount: 0.6);
  @include portrait {
    @include fixedHeight(calc(var(--responsiveUnit) * 35));
    @include fixedWidth(calc(var(--responsiveUnit) * 25));
  }

  .loginTitle {
    font-size: calc(var(--responsiveUnit) * 1.5);
    color: $light;
    font-weight: bolder;
    @include fixedHeight(25%);
    @include fixedWidth(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    @include portrait {
      @include fixedHeight(18%);
      font-size: calc(var(--responsiveUnit) * 1.8);
    }
  }

  .loginInput {
    @include fixedHeight(12%);
    @include fixedWidth(80%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-block: 3%;
    @include portrait {
      @include fixedHeight(10%);
    }

    input {
      @include fixedHeight(100%);
      @include fixedWidth(100%);
      border: 0;
      outline: 0;
      margin: 0;
      padding: 0;
      background: none;
      border: calc(var(--responsiveUnit) * 0.09) solid transparentize($color: $light, $amount: 0.8);
      border-radius: calc(var(--responsiveUnit) * 1);
      font-size: calc(var(--responsiveUnit) * 0.7);
      color: $light;
      text-indent: 5%;
      &::placeholder {
        color: $light;
      }
      @include portrait {
        font-size: calc(var(--responsiveUnit) * 1.1);
      }
    }

    img {
      position: absolute;
      right: 5%;
      aspect-ratio: 1;
      height: 50%;
      filter: invert(1);
    }
  }

  .loginRememberForgot {
    display: flex;
    align-items: center;
    @include fixedWidth(80%);

    .loginRememberMe,
    .loginForgotPassword {
      @include fixedWidth(50%);
      display: flex;
      align-items: center;
      color: $light;
      & > * {
        cursor: pointer;
        font-size: calc(var(--responsiveUnit) * 0.6);
        @include portrait {
          font-size: calc(var(--responsiveUnit) * 1.05);
        }
      }
    }

    .loginRememberMe {
      justify-content: flex-start;
    }

    .loginForgotPassword {
      justify-content: flex-end;

      a {
        text-decoration: none;
        color: $light;
        font-weight: bolder;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

  .loginSubmit {
    @include fixedHeight(10%);
    @include fixedWidth(80%);
    margin-block: 5%;
    @include portrait {
      @include fixedHeight(12%);
      margin-block: 16%;
    }

    input {
      @include fixedHeight(100%);
      @include fixedWidth(100%);
      border: 0;
      outline: 0;
      margin: 0;
      padding: 0;
      border-radius: calc(var(--responsiveUnit) * 1);
      font-size: calc(var(--responsiveUnit) * 0.7);
      background: $light;
      color: $dark;
      font-weight: bolder;
      cursor: pointer;
      @include portrait {
        font-size: calc(var(--responsiveUnit) * 1.5);
      }
    }
  }

  .loginRegister {
    @include fixedWidth(80%);
    display: flex;
    justify-content: center;
    font-size: calc(var(--responsiveUnit) * 0.7);
    @include portrait {
      font-size: calc(var(--responsiveUnit) * 1.2);
    }

    span {
      color: $light;
    }

    a {
      margin-left: 2%;
      text-decoration: none;
      color: $light;
      font-weight: bolder;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
