@import "/src/styles.scss";

:host {
  display: flex;
  justify-content: center;
  // height: 100%;
  min-height: var(--defaultContentHeight);
  width: 100%;
  // background: $medium;
  color: $dark;
  overflow: hidden;
}

.pageContent {
  // height: 100%;
  width: 100%;
  background: $white;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  @include fixedSquare(calc(var(--responsiveUnit) * 2));
  border-color: $black;
  border-width: calc(var(--responsiveUnit) * 0.2);
  border-style: solid;
  border-radius: 50%;
}

.square {
  @include fixedSquare(calc(var(--responsiveUnit) * 2));
  border-color: $black;
  border-width: calc(var(--responsiveUnit) * 0.2);
  border-style: solid;
}
