@import "/src/styles.scss";

:host {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: $medium;
  color: $dark;
  overflow: hidden;
}

#content {
  height: 100%;
  width: 100%;
  font-size: calc(var(--responsiveUnit) * 0.8);
  background: $medium;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $success;
  border: calc(var(--responsiveUnit) * 0.2) solid $light;
  border-radius: calc(var(--responsiveUnit) * 0.2);
  padding: 1%;
}

.grid {
  margin-top: 1%;
  display: grid;
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-column-gap: calc(var(--responsiveUnit) * 0.1);
  grid-row-gap: calc(var(--responsiveUnit) * 0.1);
  background: $black;
  height: calc(var(--responsiveUnit) * 20);
  width: calc(var(--responsiveUnit) * 20);
  border: calc(var(--responsiveUnit) * 0.2) solid $dark;

  .grid-cell {
    background-image: url("/assets/imgs/WEBPs/redstone_lamp-off.webp");
    background-position: center;
    background-size: cover;
    // background: $medium;
    border: calc(var(--responsiveUnit) * 0.1) solid $dark;
    @include allVendors(transition, all 100ms ease-in-out);
    &:hover {
      // filter: brightness(1.5);
      border: calc(var(--responsiveUnit) * 0.1) solid $light;
    }
    &.on {
      // background: $light;
      background-image: url("/assets/imgs/WEBPs/redstone_lamp-on.webp");
    }
  }
}
