<div id="{{title}}-content" class="pageContent">
  <!-- <img src="assets/imgs/SVGs/logo-dvd.svg"> -->

  <div id="logo" (click)="triggerAnimation()" [class.corner]="dvdConfig.starAnimationTrigger" [style.left.px]="dvdConfig.logoLeft" [style.top.px]="dvdConfig.logoTop" [style.--logoHue]="dvdConfig.logoHue" [style.--starAnimationDuration.s]="dvdConfig.starAnimationDuration">
    <div id="1" class="star"><i class="bi bi-star-fill"></i></div>
    <div id="2" class="star"><i class="bi bi-star-fill"></i></div>
    <div id="3" class="star"><i class="bi bi-star-fill"></i></div>
    <div id="4" class="star"><i class="bi bi-star-fill"></i></div>
    <div id="5" class="star"><i class="bi bi-star-fill"></i></div>
    <div id="6" class="star"><i class="bi bi-star-fill"></i></div>
    <div id="7" class="star"><i class="bi bi-star-fill"></i></div>
    <div id="8" class="star"><i class="bi bi-star-fill"></i></div>
    <div id="9" class="star"><i class="bi bi-star-fill"></i></div>
    <div id="10" class="star"><i class="bi bi-star-fill"></i></div>
    <div id="11" class="star"><i class="bi bi-star-fill"></i></div>
    <div id="12" class="star"><i class="bi bi-star-fill"></i></div>
  </div>
</div>
