@import "/src/styles.scss";

:host {
  display: flex;
  justify-content: center;
  // height: 100%;
  height: var(--defaultContentHeight);
  min-height: var(--defaultContentHeight);
  width: 100%;
  background: $medium;
  color: $dark;
  overflow: hidden;
}

#content {
  // height: 100%;
  width: 100%;
  font-size: calc(var(--responsiveUnit) * 0.8);
  background: $medium;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  --grid-background: #000;
  --grid-color: #00ff00;

  height: 100%;
  width: 100%;
  background: var(--grid-background);
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;

  .grid-cell {
    height: calc(var(--responsiveUnit) * 3);
    width: calc(var(--responsiveUnit) * 3);
    // aspect-ratio: 1;
    // background: $light;
    border: calc(var(--responsiveUnit) * 0.2) solid var(--grid-background);
    transition: all 0.5s ease-in-out;
    animation: fadeOut 1.5s;
    &:hover {
      animation: fadeIn 1.5s forwards;
    }
    &.fade {
      animation: fade 1.5s forwards;
    }
  }
}

@keyframes fade {
  from {
    background: var(--grid-color);
  }
  to {
    background: var(--grid-background);
  }
}

@keyframes fadeIn {
  from {
    background: var(--grid-background);
  }
  to {
    background: var(--grid-color);
  }
}

@keyframes fadeOut {
  from {
    background: var(--grid-color);
  }
  to {
    background: var(--grid-background);
  }
}
