<div id="{{title}}-content" class="pageContent">
  <div class="light-card-wrapper">
    <div class="light-card" [style]="'--hoverColor: #ff6f00;'">
      <div class="spot">
        <span>&nbsp;</span>

        <div class="light"></div>
      </div>

      <div class="card">
        <div class="card-icon">
          <svg-renderer [svgFilePath]="'assets/imgs/SVGs/logo-html5.svg'"></svg-renderer>
        </div>

        <div class="card-text">
          <p>HTML5</p>
        </div>
      </div>
    </div>

    <div class="light-card" [style]="'--hoverColor: #005eff;'">
      <div class="spot">
        <span>&nbsp;</span>

        <div class="light"></div>
      </div>

      <div class="card">
        <div class="card-icon">
          <svg-renderer [svgFilePath]="'assets/imgs/SVGs/logo-css3.svg'"></svg-renderer>
        </div>

        <div class="card-text">
          <p>CSS3</p>
        </div>
      </div>
    </div>

    <div class="light-card" [style]="'--hoverColor: #eeff00;'">
      <div class="spot">
        <span>&nbsp;</span>

        <div class="light"></div>
      </div>

      <div class="card">
        <div class="card-icon">
          <svg-renderer [svgFilePath]="'assets/imgs/SVGs/logo-javascript.svg'"></svg-renderer>
        </div>

        <div class="card-text">
          <p>JavaScript</p>
        </div>
      </div>
    </div>
  </div>
</div>
