<div id="{{title}}-content" class="pageContent">
  <div class="buttons">
    <div class="button" [style.--buttonColor]="'#1da1f2'">
      <div class="button-icon bottom">
        <svg-renderer svgFilePath="assets/imgs/SVGs/logo-twitter.svg"></svg-renderer>
      </div>

      <div class="button-icon top">
        <svg-renderer svgFilePath="assets/imgs/SVGs/logo-twitter.svg"></svg-renderer>
      </div>
    </div>

    <div class="button" [style.--buttonColor]="'#25d366'">
      <div class="button-icon bottom">
        <svg-renderer svgFilePath="assets/imgs/SVGs/logo-whatsapp.svg"></svg-renderer>
      </div>

      <div class="button-icon top">
        <svg-renderer svgFilePath="assets/imgs/SVGs/logo-whatsapp.svg"></svg-renderer>
      </div>
    </div>

    <div class="button" [style.--buttonColor]="'#ff0000'">
      <div class="button-icon bottom">
        <svg-renderer svgFilePath="assets/imgs/SVGs/logo-youtube.svg"></svg-renderer>
      </div>

      <div class="button-icon top">
        <svg-renderer svgFilePath="assets/imgs/SVGs/logo-youtube.svg"></svg-renderer>
      </div>
    </div>
  </div>
</div>
