@import "/src/styles.scss";

:host {
  display: flex;
  justify-content: center;
  // height: 100%;
  min-height: var(--defaultContentHeight);
  width: 100%;
  // background: $medium;
  color: $dark;
  overflow: hidden;
}

.pageContent {
  // height: 100%;
  width: 100%;
  background: $black;
}

:host ::ng-deep .trail {
  position: absolute;
  background: #ff0000;
  // background: lighten($color: #ff0000, $amount: 5%);
  border-radius: 50%;
  height: calc(var(--responsiveUnit) * 1);
  width: calc(var(--responsiveUnit) * 1);
  pointer-events: none;
  @include allVendors(animation, hue-rainbow var(--trailDuration) linear forwards);
}

@keyframes hue-rainbow {
  from {
    filter: hue-rotate(0deg) blur(calc(var(--responsiveUnit) * 1));
  }
  to {
    filter: hue-rotate(360deg) blur(calc(var(--responsiveUnit) * 1));
    transform: scale(0.5);
  }
}
