@import "/src/styles.scss";

:host {
  --landscapeGradient: linear-gradient(140deg, purple, blue);
  --portraitGradient: linear-gradient(140deg, #db792e, #fc51cc);

  position: relative;
}

main {
  position: relative;
  @include fixedHeight(100%);
  @include fixedWidth(100%);
  display: flex;
  flex-direction: column;
  // align-items: center;
  // align-items: stretch;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

router-outlet {
  display: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--landscapeGradient);
  @include fixedWidth(100%);
  @include fixedHeight(var(--headerHeight));
  @include portrait {
    background: var(--portraitGradient);
  }

  h1 {
    margin: 0;
    font-size: calc(var(--responsiveUnit) * 2);
    @include allVendors(transition, all 250ms ease-in-out);
    &:hover {
      color: $medium;
      cursor: pointer;
    }
  }
}

#main-content {
  @include fixedWidth(100%);
  // background: $medium;
  // background: linear-gradient(120deg, violet, yellow);
  background: linear-gradient(130deg, violet, pink);
  // min-height: var(--defaultContentHeight);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--landscapeGradient);
  @include fixedWidth(100%);
  @include fixedHeight(var(--footerHeight));
  @include portrait {
    background: var(--portraitGradient);
  }

  h2 {
    font-size: calc(var(--responsiveUnit) * 1);
    text-align: center;

    #heart {
      color: $danger;
      @include portrait {
        color: $success;
      }
    }

    a {
      color: $secondary;
      @include allVendors(transition, all 250ms ease-in-out);
      @include portrait {
        color: $tertiary;
      }
      &:hover {
        color: $medium;
      }
    }
  }
}
