@import "/src/styles.scss";

:host {
  position: relative;
  @include fixedWidth(100%);
  scroll-behavior: smooth;
  color: $light;
  background: $dark;
  font-family: monospace;
}

main {
  position: relative;
  height: 100%;
  @include fixedWidth(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

router-outlet {
  display: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  @include fixedWidth(100%);
  @include fixedHeight(var(--headerHeight));

  h1 {
    margin: 0;
    font-size: calc(var(--responsiveUnit) * 2);
    @include allVendors(transition, all 250ms ease-in-out);
    &:hover {
      color: $medium;
      cursor: pointer;
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  @include fixedWidth(100%);
  @include fixedHeight(var(--footerHeight));

  h2 {
    font-size: calc(var(--responsiveUnit) * 1);
    text-align: center;

    #heart {
      color: $danger;
    }

    a {
      color: $tertiary;
      @include allVendors(transition, all 250ms ease-in-out);
      &:hover {
        color: $medium;
      }
    }
  }
}

@media (orientation: portrait) {
  header {
    color: $dark;
    background: $light;
  }

  footer {
    color: $dark;
    background: $light;
  }
}
