@import "/src/styles.scss";

:host {
  display: flex;
  justify-content: center;
  min-height: var(--defaultContentHeight);
  width: 100%;
}

.pageContent {
  padding: 1%;
  width: 100%;
  max-width: 1200px;
  font-size: calc(var(--responsiveUnit) * 0.8);
  background: $light;
}

.pageContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  font-size: calc(var(--responsiveUnit) * 2);
  color: $danger;
}
