@import "/src/styles.scss";

:host {
  display: flex;
  justify-content: center;
  min-height: var(--defaultContentHeight);
  width: 100%;
  color: $dark;
}

:host {
  --backgroundColor: rgb(41, 68, 118);
  --buttonBorderColor: rgb(107, 155, 181);
  --buttonTextColor: rgb(202, 213, 221);
  --buttonBackgroundColor: rgb(30, 76, 110);
  --buttonHighlightBorderColor: rgb(54, 85, 132);
  --buttonHighlightTextColor: rgb(6, 100, 146);
  --buttonHighlightBackgroundColor: rgb(195, 240, 255);
  --buttonActiveBorderColor: rgb(162, 180, 194);
  --buttonActiveTextColor: rgb(0, 95, 142);
  --buttonActiveBackgroundColor: rgb(27, 73, 107);
}

.pageContent {
  width: 100%;
  font-size: calc(var(--responsiveUnit) * 0.8);
  // background: $medium;
}

.pageContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageContent {
  background: var(--backgroundColor);
}

.customButtonRow {
  display: flex;
  justify-content: center;
  align-items: center;

  .customButton {
    --buttonHeight: calc(var(--responsiveUnit) * 4);
    --buttonSkew: -20deg;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: calc(var(--responsiveUnit) * 0.15) solid var(--buttonBorderColor);
    border-radius: calc(var(--responsiveUnit) * 0.3);
    height: var(--buttonHeight);
    padding-inline: calc(var(--responsiveUnit) * 0.8);
    padding-bottom: calc(var(--buttonHeight) * 0.1);
    margin-inline: calc(var(--responsiveUnit) * 0.2);
    overflow: hidden;
    color: transparent;
    background: var(--buttonBackgroundColor);
    font-family: "Bourgeois-Light";
    font-weight: bolder;
    font-size: calc(var(--responsiveUnit) * 1.8);
    letter-spacing: calc(var(--responsiveUnit) * 0.1);
    text-transform: uppercase;
    cursor: pointer;
    @include allVendors(transform, skew(var(--buttonSkew)));

    &,
    * {
      @include allVendors(transition, all 0.18s ease-in-out);
    }

    &::before {
      content: attr(data-text);
      position: absolute;
      z-index: 1;
      color: var(--buttonTextColor);
      @include allVendors(transform, skew(calc(var(--buttonSkew) * -1)));
      // width: 100%;
      // height: 100%;
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }

    &:hover {
      border-color: var(--buttonHighlightBorderColor);
      background: var(--buttonHighlightBackgroundColor);

      &::before {
        color: var(--buttonHighlightTextColor);
      }
    }

    &:active {
      border-color: var(--buttonActiveBorderColor);
      background: var(--buttonActiveBackgroundColor);

      &::before {
        color: var(--buttonActiveTextColor);
      }
    }

    &.on {
      border-color: var(--buttonHighlightBorderColor);
      background: var(--buttonHighlightBackgroundColor);

      &::before {
        color: var(--buttonHighlightTextColor);
      }

      &:active {
        border-color: var(--buttonHighlightBorderColor);
        background: var(--buttonHighlightBackgroundColor);

        &::before {
          color: var(--buttonHighlightTextColor);
        }
      }
    }
  }
}
