<div id="{{title}}-content" class="pageContent">
  <div class="sodaForm">
    <div class="soda-mask">
      <div class="waves">
        <div class="wave" [style.--waveSize]="5.5" [style.--waveBottomOffset]="'-85%'" [style.--waveLeftOffset]="'-5%'" [style.--waveDelay]="'0.5s'"></div>
        <div class="wave" [style.--waveSize]="5.5" [style.--waveBottomOffset]="'-85%'" [style.--waveLeftOffset]="'0%'" [style.--waveDelay]="'0.0s'"></div>
        <div class="wave" [style.--waveSize]="5.5" [style.--waveBottomOffset]="'-85%'" [style.--waveLeftOffset]="'5%'" [style.--waveDelay]="'0.5s'"></div>
        <div class="wave" [style.--waveSize]="5.5" [style.--waveBottomOffset]="'-85%'" [style.--waveLeftOffset]="'10%'" [style.--waveDelay]="'-1.0s'"></div>
        <div class="wave" [style.--waveSize]="5.5" [style.--waveBottomOffset]="'-85%'" [style.--waveLeftOffset]="'15%'" [style.--waveDelay]="'-1.5s'"></div>
        <div class="wave" [style.--waveSize]="5.5" [style.--waveBottomOffset]="'-85%'" [style.--waveLeftOffset]="'20%'" [style.--waveDelay]="'-2.0s'"></div>
        <div class="wave" [style.--waveSize]="5.5" [style.--waveBottomOffset]="'-85%'" [style.--waveLeftOffset]="'25%'" [style.--waveDelay]="'-2.5s'"></div>
        <div class="wave" [style.--waveSize]="5.5" [style.--waveBottomOffset]="'-85%'" [style.--waveLeftOffset]="'30%'" [style.--waveDelay]="'-3.0s'"></div>
        <div class="wave" [style.--waveSize]="5.5" [style.--waveBottomOffset]="'-85%'" [style.--waveLeftOffset]="'35%'" [style.--waveDelay]="'-3.5s'"></div>
        <div class="wave" [style.--waveSize]="5.5" [style.--waveBottomOffset]="'-85%'" [style.--waveLeftOffset]="'40%'" [style.--waveDelay]="'-4.0s'"></div>
        <div class="wave" [style.--waveSize]="5.5" [style.--waveBottomOffset]="'-85%'" [style.--waveLeftOffset]="'45%'" [style.--waveDelay]="'-4.5s'"></div>
        <div class="wave" [style.--waveSize]="5.5" [style.--waveBottomOffset]="'-85%'" [style.--waveLeftOffset]="'50%'" [style.--waveDelay]="'-5.0s'"></div>
        <div class="wave" [style.--waveSize]="5.5" [style.--waveBottomOffset]="'-85%'" [style.--waveLeftOffset]="'55%'" [style.--waveDelay]="'-5.5s'"></div>
        <div class="wave" [style.--waveSize]="5.5" [style.--waveBottomOffset]="'-85%'" [style.--waveLeftOffset]="'60%'" [style.--waveDelay]="'-6.0s'"></div>
        <div class="wave" [style.--waveSize]="5.5" [style.--waveBottomOffset]="'-85%'" [style.--waveLeftOffset]="'65%'" [style.--waveDelay]="'-6.5s'"></div>
        <div class="wave" [style.--waveSize]="5.5" [style.--waveBottomOffset]="'-85%'" [style.--waveLeftOffset]="'70%'" [style.--waveDelay]="'-7.0s'"></div>
        <div class="wave" [style.--waveSize]="5.5" [style.--waveBottomOffset]="'-85%'" [style.--waveLeftOffset]="'75%'" [style.--waveDelay]="'-7.5s'"></div>
        <div class="wave" [style.--waveSize]="5.5" [style.--waveBottomOffset]="'-85%'" [style.--waveLeftOffset]="'80%'" [style.--waveDelay]="'-8.0s'"></div>
        <div class="wave" [style.--waveSize]="5.5" [style.--waveBottomOffset]="'-85%'" [style.--waveLeftOffset]="'85%'" [style.--waveDelay]="'-8.5s'"></div>
        <div class="wave" [style.--waveSize]="5.5" [style.--waveBottomOffset]="'-85%'" [style.--waveLeftOffset]="'90%'" [style.--waveDelay]="'-9.0s'"></div>
        <div class="wave" [style.--waveSize]="5.5" [style.--waveBottomOffset]="'-85%'" [style.--waveLeftOffset]="'95%'" [style.--waveDelay]="'-9.5s'"></div>
        <div class="wave" [style.--waveSize]="5.5" [style.--waveBottomOffset]="'-85%'" [style.--waveLeftOffset]="'100%'" [style.--waveDelay]="'-10.0s'"></div>
        <div class="wave" [style.--waveSize]="5.5" [style.--waveBottomOffset]="'-85%'" [style.--waveLeftOffset]="'105%'" [style.--waveDelay]="'-10.5s'"></div>
      </div>

      <div class="bubble" [style.--bubbleSize]="4" [style.--bubbleTopOffset]="'51%'" [style.--bubbleLeftOffset]="'2.5%'" [style.--bubbleDelay]="'0.5s'"></div>
      <div class="bubble" [style.--bubbleSize]="2" [style.--bubbleTopOffset]="'22%'" [style.--bubbleLeftOffset]="'10%'" [style.--bubbleDelay]="'0.0s'"></div>
      <div class="bubble" [style.--bubbleSize]="1" [style.--bubbleTopOffset]="'25%'" [style.--bubbleLeftOffset]="'60%'" [style.--bubbleDelay]="'-0.5s'"></div>
      <div class="bubble" [style.--bubbleSize]="0.5" [style.--bubbleTopOffset]="'45%'" [style.--bubbleLeftOffset]="'80%'" [style.--bubbleDelay]="'-1.0s'"></div>
      <div class="bubble" [style.--bubbleSize]="2" [style.--bubbleTopOffset]="'55%'" [style.--bubbleLeftOffset]="'70%'" [style.--bubbleDelay]="'-1.5s'"></div>
      <div class="bubble" [style.--bubbleSize]="7" [style.--bubbleTopOffset]="'67%'" [style.--bubbleLeftOffset]="'40%'" [style.--bubbleDelay]="'-2.0s'"></div>
      <div class="bubble" [style.--bubbleSize]="2.5" [style.--bubbleTopOffset]="'45%'" [style.--bubbleLeftOffset]="'62%'" [style.--bubbleDelay]="'-2.5s'"></div>
    </div>

    <div class="header-wrapper">
      <h1>Fill to fill</h1>

      <img src="assets/imgs/SVGs/soda/soda.svg">
    </div>

    <div class="input-wrapper">
      <input id="soda-username" class="soda-input" autocomplete="off" type="text" placeholder="Username" (input)="updateSodaFillHeight()">

      <input id="soda-password" class="soda-input" autocomplete="off" type="password" placeholder="Password" (input)="updateSodaFillHeight()">

      <input id="soda-submit" class="soda-input" type="submit" value="Enter" (click)="updateSodaFillHeight(true)">
    </div>
  </div>
</div>
