<div id="{{title}}-content" class="pageContent">
  <div class="sodaForm">
    <div class="soda-mask">
      <div class="liquid"></div>
      <div class="liquid"></div>
      <div class="liquid"></div>

      <div class="bubble" [style.--bubbleSize]="4" [style.--bubbleTopOffset]="'51%'" [style.--bubbleLeftOffset]="'2.5%'"></div>
      <div class="bubble" [style.--bubbleSize]="2" [style.--bubbleTopOffset]="'22%'" [style.--bubbleLeftOffset]="'10%'"></div>
      <div class="bubble" [style.--bubbleSize]="1" [style.--bubbleTopOffset]="'25%'" [style.--bubbleLeftOffset]="'60%'"></div>
      <div class="bubble" [style.--bubbleSize]="0.5" [style.--bubbleTopOffset]="'45%'" [style.--bubbleLeftOffset]="'80%'"></div>
      <div class="bubble" [style.--bubbleSize]="2" [style.--bubbleTopOffset]="'55%'" [style.--bubbleLeftOffset]="'70%'"></div>
      <div class="bubble" [style.--bubbleSize]="7" [style.--bubbleTopOffset]="'67%'" [style.--bubbleLeftOffset]="'40%'"></div>
      <div class="bubble" [style.--bubbleSize]="2.5" [style.--bubbleTopOffset]="'45%'" [style.--bubbleLeftOffset]="'62%'"></div>
    </div>

    <div class="header-wrapper">
      <h1>Fill to fill</h1>

      <img src="assets/imgs/SVGs/soda/soda.svg">
    </div>

    <div class="input-wrapper">
      <input id="soda-username" class="soda-input" autocomplete="off" type="text" placeholder="Username" (input)="updateSodaFillHeight()">

      <input id="soda-password" class="soda-input" autocomplete="off" type="password" placeholder="Password" (input)="updateSodaFillHeight()">

      <input id="soda-submit" class="soda-input" type="submit" value="Enter" (click)="updateSodaFillHeight(true)">
    </div>
  </div>
</div>
