<div id="{{title}}-content" class="pageContent">
  <div class="socialIcon" [style.--iconColor]="'#1877f2'">
    <div class="socialIcon-icon">
      <i class="bi bi-facebook"></i>
    </div>

    <div class="socialIcon-tooltip">Facebook</div>
  </div>

  <div class="socialIcon" [style.--iconColor]="'#1da1f2'">
    <div class="socialIcon-icon">
      <i class="bi bi-twitter"></i>
    </div>

    <div class="socialIcon-tooltip">Twitter</div>
  </div>

  <div class="socialIcon" [style.--iconColor]="'#e1306c'">
    <div class="socialIcon-icon">
      <i class="bi bi-instagram"></i>
    </div>

    <div class="socialIcon-tooltip">Instagram</div>
  </div>

  <div class="socialIcon" [style.--iconColor]="'#333'">
    <div class="socialIcon-icon">
      <i class="bi bi-github"></i>
    </div>

    <div class="socialIcon-tooltip">GitHub</div>
  </div>

  <div class="socialIcon" [style.--iconColor]="'#ff0000'">
    <div class="socialIcon-icon">
      <i class="bi bi-youtube"></i>
    </div>

    <div class="socialIcon-tooltip">Youtube</div>
  </div>

  <div class="socialIcon" [style.--iconColor]="'#5865f2'">
    <div class="socialIcon-icon">
      <i class="bi bi-discord"></i>
    </div>

    <div class="socialIcon-tooltip">Discord</div>
  </div>

  <div class="socialIcon" [style.--iconColor]="'#0a66c2'">
    <div class="socialIcon-icon">
      <i class="bi bi-linkedin"></i>
    </div>

    <div class="socialIcon-tooltip">Linkedin</div>
  </div>

  <div class="socialIcon" [style.--iconColor]="'#25d366'">
    <div class="socialIcon-icon">
      <i class="bi bi-whatsapp"></i>
    </div>

    <div class="socialIcon-tooltip">Whatsapp</div>
  </div>

  <div class="socialIcon" [style.--iconColor]="'#9146ff'">
    <div class="socialIcon-icon">
      <i class="bi bi-twitch"></i>
    </div>

    <div class="socialIcon-tooltip">Twitch</div>
  </div>
</div>
