<div id="{{title}}-content" class="pageContent">
  <div class="slidingMenu">
    <div class="menuItem">
      <div class="menuItem-icon">
        <i class="bi bi-house-door"></i>
      </div>

      <div class="menuItem-text">
        Home
      </div>
    </div>

    <div class="menuItem">
      <div class="menuItem-icon">
        <i class="bi bi-grid-1x2"></i>
      </div>

      <div class="menuItem-text">
        Dashboard
      </div>
    </div>

    <div class="menuItem">
      <div class="menuItem-icon">
        <i class="bi bi-compass"></i>
      </div>

      <div class="menuItem-text">
        Explore
      </div>
    </div>

    <div class="menuItem">
      <div class="menuItem-icon">
        <i class="bi bi-file-bar-graph"></i>
      </div>

      <div class="menuItem-text">
        Analytics
      </div>
    </div>

    <div class="menuItem">
      <div class="menuItem-icon">
        <i class="bi bi-gear"></i>
      </div>

      <div class="menuItem-text">
        Settings
      </div>
    </div>

    <div class="menuItem">
      <div class="menuItem-icon">
        <i class="bi bi-person"></i>
      </div>

      <div class="menuItem-text">
        Account
      </div>
    </div>

    <div class="menuItem">
      <div class="menuItem-icon">
        <i class="bi bi-exclamation-octagon"></i>
      </div>

      <div class="menuItem-text">
        Report
      </div>
    </div>

    <div class="menuItem">
      <div class="menuItem-icon">
        <i class="bi bi-envelope"></i>
      </div>

      <div class="menuItem-text">
        Contact
      </div>
    </div>

    <div class="menuItem">
      <div class="menuItem-icon">
        <i class="bi bi-box-arrow-right"></i>
      </div>

      <div class="menuItem-text">
        Logout
      </div>
    </div>
  </div>
</div>
