<div id="{{title}}-content" class="pageContent">
  <div class="cards">
    <a class="card" *ngFor="let page of app.allPages | keyvalue : app.defaultOrder" [attr.type]="$any(page.value)['data']['type']" href="{{$any(page.value)['path']}}">
      <div class="cardInfo">
        <div class="cardTitle">
          <p>{{$any(page.value)['path']}}</p>
        </div>

        <div class="cardDescription">
          <p>{{$any(page.value)['data']['description']}}</p>
        </div>

        <div class="cardType">
          <p>{{$any(page.value)['data']['type']}}</p>
        </div>

        <div class="cardNo">
          <p>#{{page.key}}</p>
        </div>

        <div *ngIf="$any(page.value)['data']['status'] == 'wip'" class="cardWarning" [attr.warningType]="$any(page.value)['data']['status']" title="Work In Progress">
          <i class="bi bi-exclamation-triangle-fill"></i>
        </div>

        <div *ngIf="$any(page.value)['data']['status'] == 'rework'" class="cardWarning" [attr.warningType]="$any(page.value)['data']['status']" title="Rework Needed">
          <i class="bi bi-wrench"></i>
        </div>
      </div>
    </a>
  </div>
</div>
