<div id="{{ title }}-content" class="pageContent">
  <div class="cards">
    <a
      class="card"
      *ngFor="let page of app.allPages | keyvalue: app.defaultOrder"
      [attr.type]="$any(page.value)['data']['type']"
      href="{{ $any(page.value)['path'] }}"
    >
      <div class="row1">
        <div class="cardNo">#{{ page.key }}</div>
        <div class="cardType">
          {{ $any(page.value)['data']['type'] }}
        </div>
      </div>
      <div class="row2">
        <div class="cardTitle">
          {{ $any(page.value)['path'] }}
        </div>
        <div class="cardDescription">
          {{ $any(page.value)['data']['description'] }}
        </div>
      </div>
      <div class="row3">
        <div
          *ngIf="$any(page.value)['data']['status'] == 'wip'"
          class="cardStatus"
          [attr.warningType]="$any(page.value)['data']['status']"
          title="Work In Progress"
        >
          <i class="bi bi-exclamation-triangle-fill"></i>
        </div>

        <div
          *ngIf="$any(page.value)['data']['status'] == 'rework'"
          class="cardStatus"
          [attr.warningType]="$any(page.value)['data']['status']"
          title="Rework Needed"
        >
          <i class="bi bi-wrench"></i>
        </div>
      </div>
    </a>
  </div>
</div>
