@import "/src/styles.scss";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: $dark;
}

.pageContent {
  min-height: var(--defaultContentHeight);
  padding-block: 1%;
  padding-inline: 1%;
  width: 100%;
  // max-width: 1200px;
  font-size: calc(var(--responsiveUnit) * 0.8);
}

.cards {
  // height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @include fixedHeight(calc(var(--responsiveUnit) * 10));
    @include fixedWidth(calc(var(--responsiveUnit) * 13));
    margin: calc(var(--responsiveUnit) * 1);
    border-radius: calc(var(--responsiveUnit) * 2);
    backdrop-filter: blur(calc(var(--responsiveUnit) * 1));
    @include allVendors(transition, all 300ms ease-in-out);
    border: calc(var(--responsiveUnit) * 0.1) solid $medium;
    &:hover {
      transform: translateY(calc(var(--responsiveUnit) * -0.5));
      cursor: pointer;
    }
    &:active {
      transform: translateY(calc(var(--responsiveUnit) * -0.5)) scale(0.95);
    }
    &[type="form"] {
      border-color: $primary;
      background: transparentize($color: $primary, $amount: 0.9);
    }
    &[type="loader"] {
      border-color: $secondary;
      background: transparentize($color: $secondary, $amount: 0.9);
    }
    &[type="interactive"] {
      border-color: $tertiary;
      background: transparentize($color: $tertiary, $amount: 0.9);
    }
    &[type="random"] {
      border-color: $danger;
      background: transparentize($color: $danger, $amount: 0.9);
    }
    &[type="game"] {
      border-color: $success;
      background: transparentize($color: $success, $amount: 0.9);
    }
    &[type="clone"] {
      border-color: $dark;
      background: transparentize($color: $dark, $amount: 0.9);
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: $dark;
      text-decoration: none;
      font-size: calc(var(--responsiveUnit) * 1.2);
      white-space: pre-wrap;
      word-break: break-all;
      overflow: hidden;
      margin-top: 30%;
      height: 40%;
      width: 100%;
      font-weight: bolder;
    }

    p {
      margin: 0;
      height: 40%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: calc(var(--responsiveUnit) * 1);
    }

    span {
      background: $light;
      border-radius: calc(var(--responsiveUnit) * 1);
      padding: 4%;
      position: absolute;
      top: 10%;
      right: 10%;
      color: $dark;
      font-size: calc(var(--responsiveUnit) * 1);
    }
  }
}
