@use "../../../styles.scss" as styles;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: styles.$dark;
}

.pageContent {
  min-height: var(--defaultContentHeight);
  padding: 1%;
  width: 100%;
  // max-width: 1200px;
  font-size: calc(var(--responsiveUnit) * 0.8);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: 5rem;

  .card {
    --color: #fff;

    all: unset;
    overflow: hidden;
    background: var(--color);
    border-radius: 1rem;
    height: 12rem;
    width: 20rem;
    margin: 0.7rem;
    border: 0.3rem solid black;

    &[type="form"] {
      --color: #a8fffb;
    }

    &[type="loader"] {
      --color: #a8ffac;
    }

    &[type="interactive"] {
      --color: #a8b8ff;
    }

    &[type="game"] {
      --color: #ffa8f8;
    }

    &[type="random"] {
      --color: #ffd9a8;
    }

    &[type="clone"] {
      --color: #ffaba8;
    }

    .row1 {
      display: flex;
      justify-content: space-between;

      .cardNo {
        background: color-mix(in srgb, var(--color), white 30%);
        padding: 1rem;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
        border: 0.3rem solid black;
        border-top: none;
        border-left: none;
        border-bottom-right-radius: 2rem;
      }

      .cardType {
        background: color-mix(in srgb, var(--color), black 20%);
        padding: 1rem;
        padding-top: 0.5rem;
        padding-right: 0.5rem;
        border: 0.3rem solid black;
        border-top: none;
        border-right: none;
        border-bottom-left-radius: 2rem;
      }
    }

    .row2 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .cardTitle {
        margin-top: 1rem;
        font-family: "Apple-San Francisco";
      }

      .cardDescription {
        margin-top: 1rem;
        font-family: "CaviarDreams";
      }
    }

    .row3 {
      display: flex;

      .cardStatus {
        background: purple;
      }
    }
  }
}
