@import "/src/styles.scss";

:host {
  display: flex;
  justify-content: center;
  min-height: var(--defaultContentHeight);
  width: 100%;
}

.pageContent {
  padding: 1%;
  width: 100%;
  max-width: 1200px;
  font-size: calc(var(--responsiveUnit) * 0.8);
  background: $light;
}

.pageContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  max-width: inherit;
  // height: 100%;

  &,
  * {
    @include allVendors(user-select, none);
  }
}

#lockscreen {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .lockscreen-background {
    --lockscreenBackground: #83be6e;

    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 0;
    background: var(--lockscreenBackground);
  }

  .lockscreen-content {
    // position: relative;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    // overflow: hidden;
    @include allVendors(transition, 0.3s ease-in-out);
    // background: transparentize($color: $white, $amount: 0.95);
    // z-index: 1;

    &.below {
      z-index: 1;
    }

    &.above {
      z-index: 3;
      @include allVendors(
        box-shadow,
        0 calc(var(--responsiveUnit) * -1) calc(var(--responsiveUnit) * 2) calc(var(--responsiveUnit) * 0.01) $dark
      );
      background: transparentize($color: $white, $amount: 0.925);
    }

    .dateAndClock {
      position: absolute;
      top: 8%;
      // background: blue;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // z-index: 1;

      .date,
      .clock {
        color: transparentize($color: $white, $amount: 0.4);
        text-align: center;
      }

      .date {
        font-size: calc(var(--responsiveUnit) * 2);
        font-family: "Apple-San Francisco";
      }

      .clock {
        font-size: calc(var(--responsiveUnit) * 8);
        font-family: "Apple-San Francisco Bold";
      }
    }

    // .bottomButtons,
    // .bottomBar {
    //   z-index: 3;
    // }

    .bottomButtons {
      position: absolute;
      bottom: 8%;
      // background: red;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: calc(var(--responsiveUnit) * 1);
        border-radius: 50%;
        @include square(calc(var(--responsiveUnit) * 5));
        background: transparentize($color: $black, $amount: 0.8);

        &,
        * {
          @include allVendors(transition, 200ms ease-in-out);
        }

        i {
          font-size: calc(var(--responsiveUnit) * 2);
          color: $white;
        }

        &:active {
          transform: scale(0.9);
          background: transparentize($color: $white, $amount: 0.8);

          i {
            color: $medium;
          }
        }
      }
    }

    .bottomBar {
      position: absolute;
      bottom: 2%;
      background: $white;
      width: 40%;
      height: 0.75%;
      border-radius: calc(var(--responsiveUnit) * 1);
    }
  }

  .lockscreen-foreground {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    // z-index: 2;

    .lockscreenRainbow {
      --lockscreenRainbowHeight: calc(var(--responsiveUnit) * 4.2);
      // --lockscreenRainbowHeight: 6.5vh;
      --lockscreenRainbowTopOffset: calc(var(--responsiveUnit) * 18.8);
      // --lockscreenRainbowTopOffset: 26vh;
      --lockscreenRainbowRotation: -20deg;
      --lockscreenRainbowColor1: #6bba47;
      --lockscreenRainbowColor2: #feb92d;
      --lockscreenRainbowColor3: #ff811d;
      --lockscreenRainbowColor4: #fc393d;
      --lockscreenRainbowColor5: #a93c97;
      --lockscreenRainbowColor6: #019cdc;

      @include landscape {
        --lockscreenRainbowHeight: calc(var(--responsiveUnit) * 1.5);
        // --lockscreenRainbowHeight: 6.5vh;
        --lockscreenRainbowTopOffset: calc(var(--responsiveUnit) * 13);
        // --lockscreenRainbowTopOffset: 26vh;
        --lockscreenRainbowRotation: -8deg;
      }

      position: absolute;
      top: var(--lockscreenRainbowTopOffset);
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 200%;
      // height: 100%;
      overflow: hidden;
      transform: rotate(var(--lockscreenRainbowRotation));
      z-index: 2;

      .lockscreenRainbowColor {
        height: var(--lockscreenRainbowHeight);

        &:nth-child(1) {
          background: var(--lockscreenRainbowColor1);
        }

        &:nth-child(2) {
          background: var(--lockscreenRainbowColor2);
        }

        &:nth-child(3) {
          background: var(--lockscreenRainbowColor3);
        }

        &:nth-child(4) {
          background: var(--lockscreenRainbowColor4);
        }

        &:nth-child(5) {
          background: var(--lockscreenRainbowColor5);
        }

        &:nth-child(6) {
          background: var(--lockscreenRainbowColor6);
        }
      }
    }
  }

  #pullGestureTrigger {
    position: absolute;
    bottom: 0;
    // background: red;
    width: 100%;
    // height: 10%;
    height: 5%;
    z-index: 4;
  }
}
