@import "/src/styles.scss";

:host {
  display: flex;
  justify-content: center;
  min-height: var(--defaultContentHeight);
  width: 100%;
  // background: $medium;
  color: $dark;
}

#content {
  padding-block: 1%;
  padding-inline: 1%;
  width: 100%;
  max-width: 1200px;
  font-size: calc(var(--responsiveUnit) * 0.8);
  background: $medium;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  --animationDuration: 3s;

  position: relative;
  @include square(calc(var(--responsiveUnit) * 6));
  border-radius: 50%;
  background: $success;
  @include allVendors(animation, pulse var(--animationDuration) infinite);

  .circle-pulse {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: $success;
    @include allVendors(animation, spread var(--animationDuration) infinite);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spread {
  from {
    transform: scale(1);
    opacity: 0.8;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
