@import "/src/styles.scss";

:host {
  display: flex;
  justify-content: center;
  width: 100%;
  background: $medium;
  color: $dark;
}

#content {
  // height: 100%;
  height: calc(100vh - var(--headerHeight) - var(--footerHeight));
  padding-block: 1%;
  padding-inline: 1%;
  width: 100%;
  max-width: 1200px;
  font-size: calc(var(--responsiveUnit) * 0.8);
  background: $medium;
}
