@import "/src/styles.scss";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: $dark;
}

.pageContent {
  min-height: var(--defaultContentHeight);
  padding-block: 1%;
  padding-inline: 1%;
  width: 100%;
  max-width: 1200px;
  font-size: calc(var(--responsiveUnit) * 0.8);
}
