@use "../../../../styles.scss" as styles;

:host {
  display: flex;
  justify-content: center;
  // height: 100%;
  min-height: var(--defaultContentHeight);
  width: 100%;
  // background: styles.$medium;
  color: styles.$dark;
}

.pageContent {
  // height: 100%;
  padding: 1%;
  width: 100%;
  max-width: 1200px;
  font-size: calc(var(--responsiveUnit) * 0.8);
  background: styles.$medium;
}

.pageContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fairy {
  @include styles.fixedHeight(calc(var(--responsiveUnit) * 10));
  @include styles.fixedWidth(calc(var(--responsiveUnit) * 10));
  // aspect-ratio: 1;
  background: styles.$light;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .fairy-body {
    height: 80%;
    width: 80%;
    background: styles.$dark;
  }

  .fairy-wing {
    height: 100%;
    width: 100%;
    background: purple;
    animation: flipWings 1s infinite alternate;
  }
}

@keyframes flipWings {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
