@import "/src/styles.scss";

:host {
  display: flex;
  justify-content: center;
  min-height: var(--defaultContentHeight);
  width: 100%;
  color: $dark;
}

.pageContent {
  width: 100%;
  font-size: calc(var(--responsiveUnit) * 0.8);
  background: $dark;
}

.pageContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

input {
  border: none;
  background: none;
  text-align: center;
  outline: none;
  color: $light;
  background: $black;
  font-size: calc(var(--responsiveUnit) * 0.8);
  width: calc(var(--responsiveUnit) * 20);
  height: calc(var(--responsiveUnit) * 2);
  border-radius: calc(var(--responsiveUnit) * 0.5);
}

.text-wrapper {
  --animationSetup: all 0.5s ease-out;
  --textWrapperWidthBase: calc(var(--responsiveUnit) * 5);
  --textWrapperPadding: calc(var(--responsiveUnit) * 0.5);
  --textWrapperWidth: calc(var(--textWrapperWidthBase) * var(--textLength) + var(--textWrapperPadding) * 2);

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--responsiveUnit) * 10);
  width: var(--textWrapperWidth);
  border-radius: calc(var(--responsiveUnit) * 0.5);
  background: $light;
  margin-top: calc(var(--responsiveUnit) * 0.5);
  font-size: calc(var(--responsiveUnit) * 5);
  text-transform: uppercase;
  overflow: hidden;

  &,
  * {
    @include allVendors(transition, var(--animationSetup));
    @include allVendors(user-select, none);
  }

  .letter {
    --letterScaleX: 1.9;
    --letterScaleY: 2.5;
    --letterWidth: calc(var(--textWrapperWidthBase));
    --letterOffset: calc(var(--letterWidth) * var(--letterIndex) + var(--textWrapperPadding));

    content: "";
    // background: red;
    position: absolute;
    left: var(--letterOffset);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: var(--letterWidth);
    color: $dark;
    z-index: 1;

    &::before {
      content: attr(data-letter);
      position: absolute;
      // inset: 0;
      // right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--letterWidth);
      @include allVendors(transition, var(--animationSetup));
      @include allVendors(transform, scaleX(var(--letterScaleX)));
    }

    &:hover {
      &::before {
        @include allVendors(transform, translateY(0%) scaleX(var(--letterScaleX)) scaleY(var(--letterScaleY)));
      }
    }
  }
}
