@import "/src/styles.scss";

:host {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: $medium;
  color: $dark;
  overflow: hidden;
}

#content {
  height: 100%;
  width: 100%;
  font-size: calc(var(--responsiveUnit) * 0.8);
  background: $medium;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  @include portrait {
    flex-direction: column;
  }
}

.glowChar {
  @include fixedHeight(calc(var(--responsiveUnit) * 5));
  @include fixedWidth(calc(var(--responsiveUnit) * 5));
  background: $black;
  color: $white;
  font-size: calc(var(--responsiveUnit) * 3);
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: calc(var(--responsiveUnit) * 0.5);
  cursor: pointer;
  text-shadow:
    0 0 calc(var(--responsiveUnit) * 0.5) $white,
    0 0 calc(var(--responsiveUnit) * 1) $white,
    0 0 calc(var(--responsiveUnit) * 1.5) #ff0000,
    0 0 calc(var(--responsiveUnit) * 2) #ff0000,
    0 0 calc(var(--responsiveUnit) * 2.5) #ff0000,
    0 0 calc(var(--responsiveUnit) * 3) #ff0000,
    0 0 calc(var(--responsiveUnit) * 3.5) #ff0000,
    0 0 calc(var(--responsiveUnit) * 4) #ff0000,
    0 0 calc(var(--responsiveUnit) * 4.5) #ff0000,
    0 0 calc(var(--responsiveUnit) * 5) #ff0000;
  box-shadow: 0 0 20px $white;
  @include allVendors(transition, 0.5s ease-in-out);
  @include portrait {
    font-size: calc(var(--responsiveUnit) * 2.5);
    @include fixedHeight(calc(var(--responsiveUnit) * 4));
    @include fixedWidth(calc(var(--responsiveUnit) * 4));
  }

  &.glow {
    // animation: glow-rainbow 5s linear infinite;
    animation: glow-rainbow 3s linear infinite;
  }
}

@keyframes glow-rainbow {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
