<div id="{{title}}-content" class="pageContent">
  <div class="glowChar" (click)="toggleGlowChar($event)">G</div>
  <div class="glowChar" (click)="toggleGlowChar($event)">L</div>
  <div class="glowChar" (click)="toggleGlowChar($event)">O</div>
  <div class="glowChar" (click)="toggleGlowChar($event)">W</div>
  <div class="glowChar" (click)="toggleGlowChar($event)">&nbsp;</div>
  <div class="glowChar" (click)="toggleGlowChar($event)">T</div>
  <div class="glowChar" (click)="toggleGlowChar($event)">e</div>
  <div class="glowChar" (click)="toggleGlowChar($event)">x</div>
  <div class="glowChar" (click)="toggleGlowChar($event)">t</div>
</div>
