<div id="{{title}}-content" class="pageContent">
  <svg-renderer [svgFilePath]="'assets/imgs/SVGs/logo-discord.svg'"></svg-renderer>
  <svg-renderer class="bootstrap" [svgFilePath]="'assets/imgs/SVGs/ban.svg'"></svg-renderer>
  <svg-renderer [svgFilePath]="'assets/imgs/SVGs/attach.svg'"></svg-renderer>
  <svg-renderer [svgFilePath]="'assets/imgs/SVGs/checkmark-done.svg'"></svg-renderer>
  <svg-renderer [svgFilePath]="'assets/imgs/SVGs/heart.svg'"></svg-renderer>
  <svg-renderer [svgFilePath]="'assets/imgs/SVGs/notifications-circle.svg'"></svg-renderer>
  <svg-renderer [svgFilePath]="'assets/imgs/SVGs/paw.svg'"></svg-renderer>
  <svg-renderer [svgFilePath]="'assets/imgs/SVGs/pencil.svg'"></svg-renderer>
</div>
